*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background:#fff; */
}
.container{
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    box-shadow: 0px 0px 3px rgb(133,133,133);
    border-radius: 5px;
}
img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}
.container .mb-1 .details{
    display: block;
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
    color:rgb(78, 78, 128);
}
.container .mb-1 input{
     height: 45px;
     width: 100%;
     border-radius: 3px solid skyblue;
     border: none;
     background-color:beige;
     box-shadow: 0px 0px 3px rgb(245, 238, 238);
     padding-left:15px;
     margin-bottom: 28px;
}
form .button{
    height: 50px;
    margin: 15px 0;
}
form .button:hover{

}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    background:linear-gradient(268.47deg,#26066e -5.3%,#f72585 103.74%,rgba(38,6,110,0) 106.06%)
}
form .button input:hover{
    background:linear-gradient(-268.47deg,#26066e -5.3%,#f72585 103.74%,rgba(38,6,110,0) 106.06%) ;
}
.account {
    display: flex;
    justify-content: space-between;;
    line-height:1.25rem ;
    margin-bottom: 18px;
}
.account a{
    font-size: 15px;
    text-decoration: none;
}
@media only screen and (max-width:768px){
    body {
        background:rgb(56, 56, 102) ;
    }
    .container{
        
        width: 95%;
    }

}

